body {
    background-color: aquamarine;
}

.modal-form {
    width: 400px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 30px;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid transparent;
    width: 100%;
}

textarea {
    display: block;
    resize: none;
    margin-top: 5px;
}

button {
    display: block;
    margin: auto;
}

